.App {
  margin: 0 auto;
  padding: 40px;
  max-width: 1080px;
  font-family: monospace;

  &__title {
    margin-bottom: 40px;
    text-align: center;
    color: rgb(0, 10, 27);
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
